@charset "UTF-8";
/**
 * @Name    Aisin's Blog
 * @authors Asin (prccn@qq.com)
 * @date    2013-10-12 15:07:18
 * @version Beta
 */
 
/*=Reset=*/
html{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; text-rendering:optimizelegibility; -moz-osx-font-smoothing:grayscale}
html.borderbox *,html.borderbox *:before,html.borderbox *:after{ -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box}
body,ul,li,ol,div,p,span,img,a,form,button,select,input,textarea,h1,h2,h3,h4,h5,h6,dl,dd,table,td,th,hr,blockquote{margin:0;padding:0;}
img{border:none;}
ol, li{list-style:none;}
body{color:#333;background:#fff;font:13px/1.7 'Helvetica Neue',Helvetica,Arial,Sans-serif;}
.clf{*zoom:1;}
.clf:after {content: "";display: table;clear: both;}
.clear{clear:both;}
/*
a{color:#333;text-decoration:none;}
a:hover{color:#666;}
*/
a {text-decoration: none;outline-width: 0;color:#2571b8;}
a:hover {text-decoration: underline;}
a.external {padding-right:13px;background:url('../images/icons.gif') no-repeat right 1px;}
a.external:hover {background-position:right -15px;}

h1 {font-size:1.5em;}
h2 {font-size:1.4em;}
h3 {font-size:1.3em;}
h4 {font-size:1.2em;}
h5 {font-size:1.1em;}
h6 {font-size:1em;}

::-moz-selection{background:#FDA303;color:#fff;}
::selection {background:#FDA303;color:#fff;}

.wrap{position:relative;}

.header{width:220px;overflow:hidden;padding:0 0 0 40px;position:fixed;}
hgroup h1 a{display:block;width:100%;height:100px;color:#404040;border-bottom:1px solid #ccc;line-height:100px;text-align:center;}
hgroup h1 a:hover{color:#666;}

#nav{padding:15px 0 15px 25px;border-bottom:1px solid #ccc;}
#nav .sub-menu{text-indent:2em;}
#nav .sub-menu .sub-menu{text-indent:4em;}
#nav .sub-menu .sub-menu .sub-menu{text-indent:6em;}
#mainMenu li{padding:5px 0;}
#mainMenu li a{font-size:18px;}

.copyright{width:100%;border-bottom:1px solid #ccc;}
.copyright a{padding:20px 18px;float:left;}
.about{border-right:1px solid #ccc;}

.main{width:739px;border-left:1px solid #ccc;margin-bottom:50px;position:absolute;left:260px;}
.mainHeader{width:100%;height:100px;line-height:100px;border-bottom:1px solid #ccc;}
.mainHeader .desc{padding-left:40px;font-weight:normal;font-size:20px;}

.postList{padding:0;}
.postList .postTitle{font-size:18px;margin-bottom:15px;}
.postList section{padding:40px 0 40px 40px;border-bottom:1px solid #ccc;}
.meta,.meta a{font-size:12px;color:#a8a8a8;}
.entryList{padding:15px 0;font-size:13px;}
.entryList p{margin-bottom:0;}
.aligncenter {display:block; margin-left:auto; margin-right:auto;}
.alignleft {float:left; display:inline;}
.alignright {float:right; display:inline;}

.pagination{text-align:center;padding:60px 0;font-size:2em;}
.pagination a{padding:15px 25px;font-family:Georgia;}
.pagination .next a{border-left:1px solid #ccc;}

@media screen and (max-width:1024px) and (min-width:640px){
	.wrap{width:100%;}
	.header{padding-left:0;}
	.main{left:220px;width:auto;}
	.postList section{padding:40px;}
}

@media screen and (max-width:640px) {
	.wrap{width:100%;}
	.header{padding-left:0;position:relative;width:100%;}
	hgroup h1 a{height:60px;line-height:60px;}
	#mainMenu li a{font-size:14px;}
	.copyright{display:none;}
	.main{left:0;width:auto;position:relative;border-left:none;}
	.mainHeader{display:none;}
	.postList section{padding:10px;}
	.entry{font-size:16px;}

}

.nav-toggle{display:block;width:60px;height:50px;background:#444 url(../images/nav.gif) no-repeat -19px -24px;text-indent:-9999em;float:right;}


/*! responsive-nav.js 1.0.32 by @viljamis */
.nav-collapse ul{margin:0;padding:0;width:100%;display:block;list-style:none}
.nav-collapse li{width:100%;display:block}
.js .nav-collapse{clip:rect(0 0 0 0);max-height:0;position:absolute;display:block;overflow:hidden;zoom:1}
.nav-collapse.opened{max-height:9999px}
.disable-pointer-events{pointer-events:none!important}
.nav-toggle{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
@media screen and (min-width:40em){
.js .nav-collapse{position:relative}
.js .nav-collapse.closed{max-height:none}
.nav-toggle{display:none}
}
 
 
 
 
 /*

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
img{border:0;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}

html{height: 100%;}
body{font:14px Georgia,"Times New Roman",'Microsoft Yahei',Arial;height: 100%;color: #333;background: #fff;}
@media screen and (max-width: 1040px){
	body{margin: 0 20px;}
}
@media screen and (max-width: 600px) {
	body{font-size: 13px;}
}
a {text-decoration: none;outline-width: 0;color:#2571b8;}
a:hover {text-decoration: underline;}
a.external {padding-right:13px;background:url('../images/icons.gif') no-repeat right 1px;}
a.external:hover {background-position:right -15px;}
.clearfix{*zoom:1;}
.clearfix:after {content: "";display: table;clear: both;}
.inner {width: 1000px;margin: 0 auto;}
@media screen and (max-width: 1040px) {
	.inner {width: 100%;}
}
@media screen and (max-width: 1040px) {
	#header {height: auto;position: relative;padding-bottom: 10px;}
}
#header a {color:#fff;text-shadow: 0 1px #333;-moz-transition: color 0.3s;-webkit-transition: color 0.3s;-o-transition: color 0.3s;transition: color 0.3s;}
#header a:hover {color:#90d5ff;}
#header h1 {float:none;font-weight:400;font-size: 30px;}
@media screen and (max-width: 1040px) {
	#header h1 {float: none;}
}
#main-nav {float: left;margin-left: 30px;}
@media screen and (max-width: 1040px) {
	#main-nav {float: none;margin-left: 0;margin-top: 15px;}
}
@media screen and (max-width: 600px) {
	#main-nav>ul {display: none;}
}
#main-nav>ul>li {margin-left: 50px;display: -moz-inline-box;-moz-box-orient: vertical;display: inline-block;vertical-align: middle;*vertical-align: auto;}
#main-nav>ul>li {*display: inline;}
@media screen and (max-width: 1040px) {
	#main-nav>ul>li {margin-left: 0;margin-right: 50px;}
	#main-nav>ul>li:last-of-type {margin-right: 0;}
}
#main-nav>ul>li:hover>a {color:#90d5ff;}
#main-nav>ul>li>a {padding: 38px 0;margin-top: -38px;}
@media screen and (max-width: 1040px) {
	#main-nav>ul>li>a {padding: 18px 0;}
}
#main-nav>ul li {
	position: relative;
}
@media screen and (max-width: 1040px) {
	#sub-nav {position: absolute;top: 30px;right: 0;}
}
@media screen and (max-width: 600px) {
	#sub-nav {display: none;}
}
#sub-nav .social {float: left;margin-right: 15px;}
@media screen and (max-width: 1040px) {
	#sub-nav .social {float: none;margin-right: 0;}
	#sub-nav .social a:last-of-type {margin-right: 0;}
}
#sub-nav .social a {-moz-border-radius: 50%;-webkit-border-radius: 50%;-o-border-radius: 50%;-ms-border-radius: 50%;-khtml-border-radius: 50%;border-radius: 50%;display: -moz-inline-box;-moz-box-orient: vertical;display: inline-block;vertical-align: middle;*vertical-align: auto;text-indent: -9999px;margin-right: 15px;opacity: 0.5;width: 28px;height: 28px;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
#sub-nav .social a {*display: inline;}
#sub-nav .social a:hover {opacity: 1;}
#sub-nav .social a.google {background:url('../images/google.png') center no-repeat #c83d20;border:1px solid #C83D20;}
#sub-nav .social a.google:hover{border:1px solid #9c3019;}
#sub-nav .social a.twitter {background: url('../images/twitter.png') center no-repeat #55cff8;border: 1px solid #55CFF8;}
#sub-nav .social a.twitter:hover{border: 1px solid #24c1f6;}
#sub-nav .social a.github{background:url('../images/github.png') center no-repeat #afb6ca;border: 1px solid #afb6ca;}
#sub-nav .social a.github:hover{border: 1px solid #909ab6;}
#sub-nav .social a.rss{background: url('../images/rss.png') center no-repeat #ef7522;border: 1px solid #EF7522;}
#sub-nav .social a.rss:hover{border: 1px solid #cf5d0f;}

article {border-bottom: 1px solid #ddd;padding:15px 0;position: relative;}
@media screen and (max-width: 800px) {
	article {padding-bottom: 15px;}
}
@media screen and (max-width: 600px) {
	article {padding: 15px 0;}
}
article h1.title{line-height:35px;margin-bottom:10px;margin-left:0px;font-size:1.2em;}
article h1.title a{color: #333;-webkit-transition: color 0.3s;-moz-transition: color 0.3s;-o-transition: color 0.3s;transition: color 0.3s;
}
article h1.title a:hover{color: #2571b8;-webkit-transition: color 0.3s;-moz-transition: color 0.3s;-o-transition: color 0.3s;transition: color 0.3s;}
article .entry-content {line-height: 2;text-align: justify;margin-left: 0px;}
@media screen and (max-width: 800px) {
	.post h1.title,.post .entry-content{margin-left:0;}
}
.post .meta {line-height: 2;font-size: 0.9em;position: relative;float: right;top: 0px;color: #555;text-align: right;width: auto;}
@media screen and (max-width: 800px) {
	.post .meta{position:static;width:auto;}
}
.post .meta a {color: #999;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.post .meta a:hover {color: #666;}
.post .meta .date,.post .meta .tags{padding-left: 30px;position: relative;}
@media screen and (max-width: 800px) {
	.post .meta .date,.post .meta .tags{display: -moz-inline-box;-moz-box-orient: vertical;display: inline-block;vertical-align: middle;*vertical-align: auto;margin-right: 30px;}
	.post .meta .date,.post .meta .tags{*display: inline;}
}
footer {padding: 15px 0;border-top: 1px solid #fff;text-align: center;font-size: 0.9em;width: 100%;}
#header {height: auto;border-bottom: none;line-height: 30px;width: 100%;padding: 20% 0% 0% 15%;}
#header .subtitle {color: #999;font-style: italic}
#header #sub-nav {float: none;position: relative;margin-top: 10px;}
#header #sub-nav .social {float: none}
#header #main-nav {float: none;margin-left: 0px;margin-top: 10px;}
#header #main-nav ul li{margin-left:0px;display:block;font-size:1.2em;line-height:2.4em;}
#header #main-nav ul li a {padding: 0px 0px;}
.container {position: relative;min-height: 100%;}
.container .mid-col {position: absolute;right:20%;min-height:100%;width:57%;background:#fff;}
.container .mid-col footer.inner {text-align: center;margin: 0px 70px 0px 40px;width: auto;}
.container .mid-col .mid-col-container {padding: 0px 70px 0px 40px;}
.container .mid-col .mid-col-container #content {width: 100%;}
.container .left-col {width:23%;position:fixed;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-o-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;height:100%;background:#3D4349 url(../images/left_bg_new.png) repeat;}
.container .left-col .intrude-less {width: 80%;}
.container .left-col #header .profilepic img {border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%}
.container .left-col #header #sub-nav {margin-top: 10px;}
@media screen and (max-width: 1040px) {
	body {margin:0;}
}
.aboutme p{line-height:1.5em;color:#fff;margin-top:10px;font-size:1.2em;}
@media screen and (max-width: 1024px) {
	.container .mid-col{width:77%;right:0;}
}
@media screen and (max-width: 700px) {
	.container .left-col {position: relative;width: 100%;opacity: 1;}
	.container .left-col .intrude-less {margin: auto auto;}
	.container .left-col #header {padding: 40px 0px;text-align: center;}
	.container .left-col #header #sub-nav {display: block;}
	.container .left-col #header #main-nav ul {display: block;}
	.container .left-col #header #main-nav ul li {display:inline;margin-right:10px;}
	.container .mid-col{float:none;width:100%;right:0;}
	.container .mid-col .mid-col-container{padding:15px;}
	.container .mid-col .mid-col-container #content article .meta{float:none;}
}
*/

/*===============post.html==================*/
.entry .navigation{width:100%;background:#ececec;padding:0.5em 0;margin-bottom:1.5em;border-radius:5px;}
.entry .navigation ul li{float:left;list-style:none;margin-right:2em;}
.entry-title,.entry-title a {font-size:30px;font-weight:bold;margin-bottom:6px;color:#000;text-align:center;}
.entry-title a:hover {text-decoration:none;}
.entry-date {text-align:center;color:#999;margin-bottom:60px;font-size:14px;}

h2 {font-size:22px;font-weight:bold;margin-bottom:25px;}
h3 {font-size:18px;font-weight:bold;margin-bottom:25px;}
h4,h5,h6 {font-weight:bold;margin-bottom:15px;}
p {margin-bottom:40px;line-height:1.8em;}
code {background:#eee;border:1px solid #ccc;padding:0 5px;font-family:"Courier";line-height:14px;font-size:14px;word-wrap:break-word; }
pre {background-color:#000;padding:15px;overflow:auto;margin-bottom:40px;font-size:14px;border: 1px solid #eee;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;color:#b9bdb6;margin-top:-20px; }
h4+pre, h3+pre { margin-top:20px; }
pre code{background-color:transparent;border:none;padding:0;word-wrap:normal;}
pre ol{margin-left:25px;list-style-type:decimal;}

/************layout style*****************/
#content-post{width:1020px;margin:30px auto;font-size:16px;}

/****************entry style**************/
.sidenav{width:220px;background:#fff;float:right;padding:20px;margin-bottom:50px;box-shadow:0 1px 4px #ccc;}
.sidenav h2{font-size:18px;color:#333;margin-bottom:15px;}
.sidenav ul{margin-bottom:50px;}
.sidenav li{margin-bottom:10px;}
.sidenav a{font-size:14px;}
.entry{margin-bottom:50px;width:660px;float:left;background:#fff;padding:30px;box-shadow:0 2px 6px #ccc;}
.entry ul{margin-bottom:25px;margin-left:25px;}
.entry p+ul {margin-top:-20px;}
.entry ul li{margin-bottom:5px;list-style:disc;line-height:1.8em;}
.entry ol{margin-bottom:25px;margin-left:25px;}
.entry ol li{margin-bottom:5px;list-style:decimal;line-height:1.1em;}
.entry blockquote{margin-left:25px;font-size:14px;font-style:italic}
.entry img{max-width:670px;display:block;margin:10px auto;}

/***************Wiki Style*****************/
.wiki h2{cursor:pointer;}
.wiki ul{margin-left:30px;margin-bottom:20px;list-style:disc}
.wiki ul li{margin-bottom:5px;}
.wiki ul ul{list-style:circle;margin-top:10px;margin-bottom:10px;}

/***************comment style*************/
#duoshuo_container {font-size:12px;}
#duoshuo_container a.comment{font-size:14px;}
h3.about {color:#777;margin-top:20px;font-size:22px;margin-bottom:10px}
.about-link a {margin-right:10px;font-weight:bold;font-style:italic;font-size:13px;color:#E50053}

/**************Tags Page**************/
.page-title{font-size:20px;border-bottom:1px solid #ccc;padding-bottom:10px;margin:1.5em 0 0.5em 0;}
#tag_cloud{margin-bottom:1em;line-height:1.8em;}
#tag_cloud a:hover{color:#333 !important;text-decoration:none;}
#tag_cloud a:after{content:"|";}
.listing-seperator{line-height:2em;font-size:1em;}
.listing-item{line-height:2em;}
.listing-item time{color:#999;margin-right:1em;}

/**************目录导航**************/
#menuIndex {overflow:auto;}
#menuIndex a {display:block; padding:2px 0; }
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul {margin-bottom:10px;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li.on{background-color:#2571b8;}
#menuIndex ul li.on a{color:#fff;}
#menuIndex li.h1{font-size:14px;font-weight:normal;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3{padding-left:25px;}

@media screen and (max-width: 750px){
    #content-post{font-size:14px;width:85%;margin:100px auto 50px;}

    h2{font-size:20px;}
    h3{font-size:16px;}
    embed {display:none;}

    .entry-title,.entry-title a {font-size:24px;}
    .entry-date {margin-bottom:40px;}
    .entry img{max-width:90%;}
    .entry pre ol li{margin-bottom:0;line-height:1em;}
    .entry pre code{line-height:1em;font-size:12px;}
    .sidenav {display:none;}
    .entry {float:none;width:auto;background:transparent;padding:0;box-shadow:none;}
}
@media (max-width: 1020px){
    #menuIndex {display:none;}
    .sidenav {display:none;}
    .entry {float:none;width:auto;background:transparent;padding:0;box-shadow:none;}
    #content-post{width:85%;margin:100px auto 50px;}
}