---
layout : home
---

<div class="mid-col">
    <div class="mid-col-container">
        <div id="content" class="inner">
			{% for post in site.posts %}
            <article class="post">
                <div class="meta">
                    <div class="date">
                        <time>{{ post.date | date:"%Y-%m-%d" }}</time>
                    </div>
                </div>
                <h1 class="title"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>
                <div class="entry-content">{{ post.description }}</div>
            </article>
            {% endfor %}
			<!--pagenavi-->
			<div id="post-pagination" class="pagination">
			{% if paginator.previous_page %}
				<span class="previous">
				{% if paginator.previous_page == 1 %}
					<a href="http://aisin.me">Previous</a>
				{% else %}
					<a href="{{ paginator.previous_page_path }}">Previous</a>
				{% endif %}
				</span>
			{% else %}
				<span class="previous disabled">
					<span>Previous</span>
				</span>
			{% endif %}

				<ul class="pages">
					<li>
					{% if paginator.page == 1 %}
						<span class="current-page">1</span>
					{% else %}
						<a href="http://aisin.me">1</a>
					{% endif %}
					</li>

					{% for count in (2..paginator.total_pages) %}
						<li>
						{% if count == paginator.page %}
							<span class="current-page">{{ count }}</span>
						{% else %}
							<a href="http://aisin.me/page{{ count }}">{{ count }}</a>
						{% endif %}
						</li>
					{% endfor %}
				</ul>

			{% if paginator.next_page %}
				<span class="next">
					<a href="{{ paginator.next_page_path }}">Next</a>
				</span>
			{% else %}
				<span class="next disabled">
					<span>Next</span>
				</span>
			{% endif %}
			</div>
			<!--pagenavi-->
            <footer id="footer" class="inner">Copyright &copy; 2013 Aisin's Blog All Rights Reserved.</footer>
        </div><!--/#content-->
    </div><!--/.mid-col-container-->
</div><!--/.mid-col-->
