 <div class="pull-left">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    {% if post.tags contains 'terminal' %}
      <i class="fa fa-terminal fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'editor' %}
      <i class="fa fa-edit fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'git' %}
      <i class="fa fa-github fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'mac' %}
      <i class="fa fa-apple fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'api' %}
      <i class="fa fa-adn fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'helper' %}
      <i class="fa fa-cutlery fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'javascript' %}
      <i class="fa fa-rocket fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'css' %}
      <i class="fa fa-css3 fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'html' %}
      <i class="fa fa-html5 fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'tip' %}
      <i class="fa fa-lightbulb-o fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'time' %}
      <i class="fa fa-clock-o fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'database' %}
      <i class="fa fa-database fa-stack-1x text-white"></i>
  {% elsif post.tags contains 'sql' %}
    <i class="fa fa-database fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'regexp' %}
      <i class="fa fa-magnet fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'debug' %}
      <i class="fa fa-bug fa-stack-1x text-white"></i>
  {% elsif post.tags contains 'wordpress' %}
      <i class="fa fa-wordpress fa-stack-1x text-white"></i>
  {% elsif post.tags contains 'jQuery' %}
    <i class="fa fa-code fa-stack-1x text-white"></i>
  {% elsif post.tags contains 'extend' %}
    <i class="fa fa-plus-circle fa-stack-1x text-white"></i>
  {% elsif post.tags contains 'function' %}
    <i class="fa fa-rocket fa-stack-1x text-white"></i>
  {% elsif post.tags contains 'CodeIgniter' %}
    <i class="fa fa-fire fa-stack-1x text-white"></i>
    
  {% else %}
    <i class="fa fa-tag fa-stack-1x text-white"></i>
    {% endif %}
  </span>
</div>