<footer id="footer">
<div class="container m-t-lg m-b-lg">
	<div class="row text-center">
		<p>
			<a href="{{ site.baseurl }}">{{ site.author_name }} @ {{ site.title }}</a>
		</p>
	</div>
</div>
</footer>
<script type="text/javascript">
//Baidu Tongji
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?ad80f6ffb3e3345fac4950af7ef15a43";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>