<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
  {% include header.html %}
  <section id="content">
    <div class="container m-t-lg m-b-lg">
      <div class="row">
        <div class="col-sm-9">
          <div class="blog-post">
            {{ content }}
          </div>
        </div>
        {% include sidebar.html %}
      </div>
    </div>
  </section>
  </body>
  <script type="text/javascript" src="http://cdn.staticfile.org/jquery/1.10.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>