---
layout : default
---
<div class="container">
    <div class="left-col">
        <div class="intrude-less">
            <header id="header" class="inner">
                <div class="profilepic">    
                    <img src="http://ww2.sinaimg.cn/bmiddle/a106e506jw1e9fy850zuzj20c80dyq3z.jpg" alt="Profile Picture" style="width:160px;height:160px;">
                </div>
                <h1><a href="/">Aisin's Blog</a></h1>
                <p class="subtitle"></p>
                <nav id="main-nav">
                    <ul class="main">
                        <li><a href="/">Blog</a></li>
                        <li><a href="http://about.me/shashankmehta">About</a></li>
                        <li><a href="/blog/archives">Archives</a></li>
                    </ul>
                    <section class="aboutme">
                        <p>世界这乱，装给谁看。</p>
                    </section>
                </nav>
                <nav id="sub-nav">
                    <div class="social">
                        <a class="google" href="https://plus.google.com/109764126807838271120?rel=author" title="Google+">Google+</a>
                        <a class="twitter" href="http://twitter.com/leostatic" title="Twitter">Twitter</a>
                        <a class="github" href="https://github.com/shashankmehta" title="GitHub">GitHub</a>
                        <a class="rss" href="http://feeds.feedburner.com/shashankmehta" title="RSS">RSS</a> 
                    </div>
                </nav>
            </header>
        </div><!--/.intrude-less-->
    </div><!--/.left-col-->


	{{ content }}


</div><!--/.container-->