---
layout : default
---

<div class="wrap clf">
	<header class="header">
		<hgroup>
			<h1><a href="http://aisin.me">Aisin</a></h1>
		</hgroup>
		<nav id="nav" class="nav">
			<ul id="mainMenu">
				<li><a href="http://aisin.me">Home</a></li>
				<li><a href="/about.html">About</a></li>
				<li><a href="/tags.html">Tags</a></li>
				<li><a href="/archive.html">Archive</a></li>
			</ul>
		</nav>
		<div class="copyright clf">
			<a class="about" href="">关于</a>
			<a href="">Copyright &copy; 2014</a>
		</div>
	</header>

	{{ content }}

</div><!--/.wrap-->
<script type="text/javascript">
var navigation = responsiveNav("#nav");
</script>